<h1>Kitten #<%= @kitten.id %></h1>

<div class="kitten_params">
  Name: <%= @kitten.name %><br/>
  Age: <%= @kitten.age %><br/>
  Cutness: <%= @kitten.cuteness %><br/>
  Softness: <%= @kitten.softness %>
</div>